# Machine Learning Techniques for Sales Forecasting

## Importing Libraries

In [1315]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

## Importing Datasets & Read all csv files

files available at: https://www.kaggle.com/datasets/ndarshan2797/english-converted-datasets

01. item_categories.csv - 
    item_category_name, 
    item_category_id

02. items.csv - 
    item_name, 
    item_id, 
    category_id

03. sales_train.csv - 
    date, 
    date_block_num, 
    shop_id, 
    item_id, 
    item_price, 
    item_cnt_day

04. shops.csv - 
    shop_name, 
    shop_id

05. test.csv - 
    ID, 
    shop_id, 
    item_id

In [1316]:
#importing data

item_categories = pd.read_csv('./data-set/item_categories.csv')
items = pd.read_csv('./data-set/items.csv')
sales_train = pd.read_csv('./data-set/sales_train.csv')
shops = pd.read_csv('./data-set/shops.csv')
test = pd.read_csv('./data-set/test.csv')

In [1317]:
#checking the shape of the data
print("Shape of item_categories:", item_categories.shape)
print("Shape of items:", items.shape)
print("Shape of sales_train:", sales_train.shape)
print("Shape of shops:", shops.shape)
print("Shape of test:", test.shape)

Shape of item_categories: (84, 2)
Shape of items: (22170, 3)
Shape of sales_train: (2935849, 6)
Shape of shops: (60, 2)
Shape of test: (214200, 3)

In [1318]:
#checking the columns of the data
print("\n\nColumns of item_categories:\n")
print(item_categories.info())

print("-----------------------------------------------------")

print("\n\nColumns of items:\n")
print(items.info())

print("-----------------------------------------------------")

print("\n\nColumns of sales_train:\n")
print(sales_train.info())

print("-----------------------------------------------------")

print("\n\nColumns of shops:\n")
print(shops.info())

print("-----------------------------------------------------")

print("\n\nColumns of test:\n")
print(test.info())

Columns of item_categories:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_category_name  84 non-null     object
 1   item_category_id    84 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB
None
-----------------------------------------------------


Columns of items:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   item_name    22170 non-null  object
 1   item_id      22170 non-null  int64
 2   category_id  22170 non-null  int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB
None
-----------------------------------------------------


Columns of sales_train:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB
None
-----------------------------------------------------


Columns of shops:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   shop_name  60 non-null     object
 1   shop_id    60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB
None
-----------------------------------------------------


Columns of test:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ID       214200 non-null  int64
 1   shop_id  214200 non-null  int64
 2   item_id  214200 non-null  int64
dtypes: int64(3)
memory usage: 4.9 MB
None

In [1319]:
#checking the head of the data

print("\n\nHead of item_categories:\n")
print(item_categories.head())

print("-----------------------------------------------------")

print("\n\nHead of items:\n")
print(items.head())

print("-----------------------------------------------------")

print("\n\nHead of sales_train:\n")
print(sales_train.head())

print("-----------------------------------------------------")

print("\n\nHead of shops:\n")
print(shops.head())

print("-----------------------------------------------------")

print("\n\nHead of test:\n")
print(test.head())

Head of item_categories:

           item_category_name  item_category_id
0  PC - Headsets / Headphones                 0
1           Accessories - PS2                 1
2           Accessories - PS3                 2
3           Accessories - PS4                 3
4           Accessories - PSP                 4
-----------------------------------------------------


Head of items:

                                           item_name  item_id  category_id
0             !! IN THE POWER OF HAPPINESS (PLAST) D        0           40
1  ! ABBYY FineReader 12 Professional Edition Ful...        1           76
2              *** IN THE GLORY OF THE GLORY (UNV) D        2           40
3                             *** BLUE WAVE (Univ) D        3           40
4                                  *** BOX (GLASS) D        4           40
-----------------------------------------------------


Head of sales_train:

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0
-----------------------------------------------------


Head of shops:

                            shop_name  shop_id
0  ! Yakutsk Ordzhonikidze, 56 francs        0
1         ! Yakutsk TC "Central" fran        1
2                    Adygea TC "Mega"        2
3     Balashikha TC "Oktyabr-Kinomir"        3
4               Volga TC "Volga Mall"        4
-----------------------------------------------------


Head of test:

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

## Data Preprocessing & Feature Engineering

In [1320]:
#merging the data

In [1321]:
#Merge sales_train.csv with items.csv on the "item_id" column
sales_with_items = sales_train.merge(items, on='item_id', how='left')
print("\n\nHead of sales_with_items:\n")
print(sales_with_items.head(20))
print(sales_with_items.shape)

Head of sales_with_items:

          date  date_block_num  shop_id  item_id  item_price  item_cnt_day  \
0   02.01.2013               0       59    22154      999.00           1.0
1   03.01.2013               0       25     2552      899.00           1.0
2   05.01.2013               0       25     2552      899.00          -1.0
3   06.01.2013               0       25     2554     1709.05           1.0
4   15.01.2013               0       25     2555     1099.00           1.0
5   10.01.2013               0       25     2564      349.00           1.0
6   02.01.2013               0       25     2565      549.00           1.0
7   04.01.2013               0       25     2572      239.00           1.0
8   11.01.2013               0       25     2572      299.00           1.0
9   03.01.2013               0       25     2573      299.00           3.0
10  03.01.2013               0       25     2574      399.00           2.0
11  05.01.2013               0       25     2574      399.00           1.0
12  07.01.2013               0       25     2574      399.00           1.0
13  08.01.2013               0       25     2574      399.00           2.0
14  10.01.2013               0       25     2574      399.00           1.0
15  11.01.2013               0       25     2574      399.00           2.0
16  13.01.2013               0       25     2574      399.00           1.0
17  16.01.2013               0       25     2574      399.00           1.0
18  26.01.2013               0       25     2574      399.00           1.0
19  27.01.2013               0       25     2574      399.00           1.0

                                            item_name  category_id
0                                     SCENE 2012 (BD)           37
1            DEEP PURPLE  The House Of Blue Light  LP           58
2            DEEP PURPLE  The House Of Blue Light  LP           58
3            DEEP PURPLE  Who Do You Think We Are  LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                           DEL REY LANA  Born To Die           55
10  DEL REY LANA  Born To Die  The Paradise Editio...           55
11  DEL REY LANA  Born To Die  The Paradise Editio...           55
12  DEL REY LANA  Born To Die  The Paradise Editio...           55
13  DEL REY LANA  Born To Die  The Paradise Editio...           55
14  DEL REY LANA  Born To Die  The Paradise Editio...           55
15  DEL REY LANA  Born To Die  The Paradise Editio...           55
16  DEL REY LANA  Born To Die  The Paradise Editio...           55
17  DEL REY LANA  Born To Die  The Paradise Editio...           55
18  DEL REY LANA  Born To Die  The Paradise Editio...           55
19  DEL REY LANA  Born To Die  The Paradise Editio...           55
(2935849, 8)

In [1322]:
#Merge the result with item_categories.csv on the "category_id" 
sales_with_items_and_categories = sales_with_items.merge(item_categories, right_on='item_category_id', left_on='category_id', how='left')
print("\n\nHead of sales_with_items_and_categories:\n")
print(sales_with_items_and_categories.head(20))
print(sales_with_items_and_categories.shape)

Head of sales_with_items_and_categories:

          date  date_block_num  shop_id  item_id  item_price  item_cnt_day  \
0   02.01.2013               0       59    22154      999.00           1.0
1   03.01.2013               0       25     2552      899.00           1.0
2   05.01.2013               0       25     2552      899.00          -1.0
3   06.01.2013               0       25     2554     1709.05           1.0
4   15.01.2013               0       25     2555     1099.00           1.0
5   10.01.2013               0       25     2564      349.00           1.0
6   02.01.2013               0       25     2565      549.00           1.0
7   04.01.2013               0       25     2572      239.00           1.0
8   11.01.2013               0       25     2572      299.00           1.0
9   03.01.2013               0       25     2573      299.00           3.0
10  03.01.2013               0       25     2574      399.00           2.0
11  05.01.2013               0       25     2574      399.00           1.0
12  07.01.2013               0       25     2574      399.00           1.0
13  08.01.2013               0       25     2574      399.00           2.0
14  10.01.2013               0       25     2574      399.00           1.0
15  11.01.2013               0       25     2574      399.00           2.0
16  13.01.2013               0       25     2574      399.00           1.0
17  16.01.2013               0       25     2574      399.00           1.0
18  26.01.2013               0       25     2574      399.00           1.0
19  27.01.2013               0       25     2574      399.00           1.0

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1            DEEP PURPLE  The House Of Blue Light  LP           58
2            DEEP PURPLE  The House Of Blue Light  LP           58
3            DEEP PURPLE  Who Do You Think We Are  LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                           DEL REY LANA  Born To Die           55
10  DEL REY LANA  Born To Die  The Paradise Editio...           55
11  DEL REY LANA  Born To Die  The Paradise Editio...           55
12  DEL REY LANA  Born To Die  The Paradise Editio...           55
13  DEL REY LANA  Born To Die  The Paradise Editio...           55
14  DEL REY LANA  Born To Die  The Paradise Editio...           55
15  DEL REY LANA  Born To Die  The Paradise Editio...           55
16  DEL REY LANA  Born To Die  The Paradise Editio...           55
17  DEL REY LANA  Born To Die  The Paradise Editio...           55
18  DEL REY LANA  Born To Die  The Paradise Editio...           55
19  DEL REY LANA  Born To Die  The Paradise Editio...           55

                     item_category_name  item_category_id
0                      Cinema - Blu-Ray                37
1                         Music - Vinyl                58
2                         Music - Vinyl                58
3                         Music - Vinyl                58
4    Music - CD of corporate production                56
5                   Music - Music video                59
6    Music - CD of corporate production                56
7        Music - CD of local production                55
8        Music - CD of local production                55
9        Music - CD of local production                55
10       Music - CD of local production                55
11       Music - CD of local production                55
12       Music - CD of local production                55
13       Music - CD of local production                55
14       Music - CD of local production                55
15       Music - CD of local production                55
16       Music - CD of local production                55
17       Music - CD of local production                55
18       Music - CD of local production                55
19       Music - CD of local production                55
(2935849, 10)

In [1323]:
# Check if the two columns are the same
if sales_with_items_and_categories['item_category_id'].equals(sales_with_items_and_categories['category_id']):
    # If they are the same, you can drop one of the columns
    sales_with_items_and_categories.drop(columns=['item_category_id'], inplace=True)

In [1324]:
print("\n\nHead of sales_with_items_and_categories:\n")
print(sales_with_items_and_categories.head(20))
print(sales_with_items_and_categories.shape)

Head of sales_with_items_and_categories:

          date  date_block_num  shop_id  item_id  item_price  item_cnt_day  \
0   02.01.2013               0       59    22154      999.00           1.0
1   03.01.2013               0       25     2552      899.00           1.0
2   05.01.2013               0       25     2552      899.00          -1.0
3   06.01.2013               0       25     2554     1709.05           1.0
4   15.01.2013               0       25     2555     1099.00           1.0
5   10.01.2013               0       25     2564      349.00           1.0
6   02.01.2013               0       25     2565      549.00           1.0
7   04.01.2013               0       25     2572      239.00           1.0
8   11.01.2013               0       25     2572      299.00           1.0
9   03.01.2013               0       25     2573      299.00           3.0
10  03.01.2013               0       25     2574      399.00           2.0
11  05.01.2013               0       25     2574      399.00           1.0
12  07.01.2013               0       25     2574      399.00           1.0
13  08.01.2013               0       25     2574      399.00           2.0
14  10.01.2013               0       25     2574      399.00           1.0
15  11.01.2013               0       25     2574      399.00           2.0
16  13.01.2013               0       25     2574      399.00           1.0
17  16.01.2013               0       25     2574      399.00           1.0
18  26.01.2013               0       25     2574      399.00           1.0
19  27.01.2013               0       25     2574      399.00           1.0

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1            DEEP PURPLE  The House Of Blue Light  LP           58
2            DEEP PURPLE  The House Of Blue Light  LP           58
3            DEEP PURPLE  Who Do You Think We Are  LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                           DEL REY LANA  Born To Die           55
10  DEL REY LANA  Born To Die  The Paradise Editio...           55
11  DEL REY LANA  Born To Die  The Paradise Editio...           55
12  DEL REY LANA  Born To Die  The Paradise Editio...           55
13  DEL REY LANA  Born To Die  The Paradise Editio...           55
14  DEL REY LANA  Born To Die  The Paradise Editio...           55
15  DEL REY LANA  Born To Die  The Paradise Editio...           55
16  DEL REY LANA  Born To Die  The Paradise Editio...           55
17  DEL REY LANA  Born To Die  The Paradise Editio...           55
18  DEL REY LANA  Born To Die  The Paradise Editio...           55
19  DEL REY LANA  Born To Die  The Paradise Editio...           55

                     item_category_name
0                      Cinema - Blu-Ray
1                         Music - Vinyl
2                         Music - Vinyl
3                         Music - Vinyl
4    Music - CD of corporate production
5                   Music - Music video
6    Music - CD of corporate production
7        Music - CD of local production
8        Music - CD of local production
9        Music - CD of local production
10       Music - CD of local production
11       Music - CD of local production
12       Music - CD of local production
13       Music - CD of local production
14       Music - CD of local production
15       Music - CD of local production
16       Music - CD of local production
17       Music - CD of local production
18       Music - CD of local production
19       Music - CD of local production
(2935849, 9)

In [1325]:
#Merge the result with shops.csv on the "shop_id" 
final_dataset = sales_with_items_and_categories.merge(shops, on='shop_id', how='left')
print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

          date  date_block_num  shop_id  item_id  item_price  item_cnt_day  \
0   02.01.2013               0       59    22154      999.00           1.0
1   03.01.2013               0       25     2552      899.00           1.0
2   05.01.2013               0       25     2552      899.00          -1.0
3   06.01.2013               0       25     2554     1709.05           1.0
4   15.01.2013               0       25     2555     1099.00           1.0
5   10.01.2013               0       25     2564      349.00           1.0
6   02.01.2013               0       25     2565      549.00           1.0
7   04.01.2013               0       25     2572      239.00           1.0
8   11.01.2013               0       25     2572      299.00           1.0
9   03.01.2013               0       25     2573      299.00           3.0
10  03.01.2013               0       25     2574      399.00           2.0
11  05.01.2013               0       25     2574      399.00           1.0
12  07.01.2013               0       25     2574      399.00           1.0
13  08.01.2013               0       25     2574      399.00           2.0
14  10.01.2013               0       25     2574      399.00           1.0
15  11.01.2013               0       25     2574      399.00           2.0
16  13.01.2013               0       25     2574      399.00           1.0
17  16.01.2013               0       25     2574      399.00           1.0
18  26.01.2013               0       25     2574      399.00           1.0
19  27.01.2013               0       25     2574      399.00           1.0

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1            DEEP PURPLE  The House Of Blue Light  LP           58
2            DEEP PURPLE  The House Of Blue Light  LP           58
3            DEEP PURPLE  Who Do You Think We Are  LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                           DEL REY LANA  Born To Die           55
10  DEL REY LANA  Born To Die  The Paradise Editio...           55
11  DEL REY LANA  Born To Die  The Paradise Editio...           55
12  DEL REY LANA  Born To Die  The Paradise Editio...           55
13  DEL REY LANA  Born To Die  The Paradise Editio...           55
14  DEL REY LANA  Born To Die  The Paradise Editio...           55
15  DEL REY LANA  Born To Die  The Paradise Editio...           55
16  DEL REY LANA  Born To Die  The Paradise Editio...           55
17  DEL REY LANA  Born To Die  The Paradise Editio...           55
18  DEL REY LANA  Born To Die  The Paradise Editio...           55
19  DEL REY LANA  Born To Die  The Paradise Editio...           55

                     item_category_name                shop_name
0                      Cinema - Blu-Ray   Yaroslavl TC" Altair "
1                         Music - Vinyl     Moscow TEC" Atrium "
2                         Music - Vinyl     Moscow TEC" Atrium "
3                         Music - Vinyl     Moscow TEC" Atrium "
4    Music - CD of corporate production     Moscow TEC" Atrium "
5                   Music - Music video     Moscow TEC" Atrium "
6    Music - CD of corporate production     Moscow TEC" Atrium "
7        Music - CD of local production     Moscow TEC" Atrium "
8        Music - CD of local production     Moscow TEC" Atrium "
9        Music - CD of local production     Moscow TEC" Atrium "
10       Music - CD of local production     Moscow TEC" Atrium "
11       Music - CD of local production     Moscow TEC" Atrium "
12       Music - CD of local production     Moscow TEC" Atrium "
13       Music - CD of local production     Moscow TEC" Atrium "
14       Music - CD of local production     Moscow TEC" Atrium "
15       Music - CD of local production     Moscow TEC" Atrium "
16       Music - CD of local production     Moscow TEC" Atrium "
17       Music - CD of local production     Moscow TEC" Atrium "
18       Music - CD of local production     Moscow TEC" Atrium "
19       Music - CD of local production     Moscow TEC" Atrium "
(2935849, 10)

In [1326]:
#checks the columns of the final dataset
print("\n\nColumns of final_dataset:\n")
print(final_dataset.info())

Columns of final_dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   date                object
 1   date_block_num      int64
 2   shop_id             int64
 3   item_id             int64
 4   item_price          float64
 5   item_cnt_day        float64
 6   item_name           object
 7   category_id         int64
 8   item_category_name  object
 9   shop_name           object
dtypes: float64(2), int64(4), object(4)
memory usage: 224.0+ MB
None

In [1327]:
#prints the date and date_block_num column to check whether they are related
columns_to_print = ['date', 'date_block_num']
print(final_dataset[columns_to_print])

               date  date_block_num
0        02.01.2013               0
1        03.01.2013               0
2        05.01.2013               0
3        06.01.2013               0
4        15.01.2013               0
...             ...             ...
2935844  10.10.2015              33
2935845  09.10.2015              33
2935846  14.10.2015              33
2935847  22.10.2015              33
2935848  03.10.2015              33

[2935849 rows x 2 columns]

In [1328]:
#feature split

In [1329]:
# Rename the column
final_dataset.rename(columns={'date_block_num': 'month_num'}, inplace=True)

In [1330]:
#Rename the item_cnt_day column
final_dataset.rename(columns={'item_cnt_day': 'item_cnt_month'}, inplace=True)

In [1331]:
print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

          date  month_num  shop_id  item_id  item_price  item_cnt_month  \
0   02.01.2013          0       59    22154      999.00             1.0
1   03.01.2013          0       25     2552      899.00             1.0
2   05.01.2013          0       25     2552      899.00            -1.0
3   06.01.2013          0       25     2554     1709.05             1.0
4   15.01.2013          0       25     2555     1099.00             1.0
5   10.01.2013          0       25     2564      349.00             1.0
6   02.01.2013          0       25     2565      549.00             1.0
7   04.01.2013          0       25     2572      239.00             1.0
8   11.01.2013          0       25     2572      299.00             1.0
9   03.01.2013          0       25     2573      299.00             3.0
10  03.01.2013          0       25     2574      399.00             2.0
11  05.01.2013          0       25     2574      399.00             1.0
12  07.01.2013          0       25     2574      399.00             1.0
13  08.01.2013          0       25     2574      399.00             2.0
14  10.01.2013          0       25     2574      399.00             1.0
15  11.01.2013          0       25     2574      399.00             2.0
16  13.01.2013          0       25     2574      399.00             1.0
17  16.01.2013          0       25     2574      399.00             1.0
18  26.01.2013          0       25     2574      399.00             1.0
19  27.01.2013          0       25     2574      399.00             1.0

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1            DEEP PURPLE  The House Of Blue Light  LP           58
2            DEEP PURPLE  The House Of Blue Light  LP           58
3            DEEP PURPLE  Who Do You Think We Are  LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                           DEL REY LANA  Born To Die           55
10  DEL REY LANA  Born To Die  The Paradise Editio...           55
11  DEL REY LANA  Born To Die  The Paradise Editio...           55
12  DEL REY LANA  Born To Die  The Paradise Editio...           55
13  DEL REY LANA  Born To Die  The Paradise Editio...           55
14  DEL REY LANA  Born To Die  The Paradise Editio...           55
15  DEL REY LANA  Born To Die  The Paradise Editio...           55
16  DEL REY LANA  Born To Die  The Paradise Editio...           55
17  DEL REY LANA  Born To Die  The Paradise Editio...           55
18  DEL REY LANA  Born To Die  The Paradise Editio...           55
19  DEL REY LANA  Born To Die  The Paradise Editio...           55

                     item_category_name                shop_name
0                      Cinema - Blu-Ray   Yaroslavl TC" Altair "
1                         Music - Vinyl     Moscow TEC" Atrium "
2                         Music - Vinyl     Moscow TEC" Atrium "
3                         Music - Vinyl     Moscow TEC" Atrium "
4    Music - CD of corporate production     Moscow TEC" Atrium "
5                   Music - Music video     Moscow TEC" Atrium "
6    Music - CD of corporate production     Moscow TEC" Atrium "
7        Music - CD of local production     Moscow TEC" Atrium "
8        Music - CD of local production     Moscow TEC" Atrium "
9        Music - CD of local production     Moscow TEC" Atrium "
10       Music - CD of local production     Moscow TEC" Atrium "
11       Music - CD of local production     Moscow TEC" Atrium "
12       Music - CD of local production     Moscow TEC" Atrium "
13       Music - CD of local production     Moscow TEC" Atrium "
14       Music - CD of local production     Moscow TEC" Atrium "
15       Music - CD of local production     Moscow TEC" Atrium "
16       Music - CD of local production     Moscow TEC" Atrium "
17       Music - CD of local production     Moscow TEC" Atrium "
18       Music - CD of local production     Moscow TEC" Atrium "
19       Music - CD of local production     Moscow TEC" Atrium "
(2935849, 10)

In [1332]:
#checks the columns of the final dataset
print("\n\nColumns of final_dataset:\n")
print(final_dataset.info())

Columns of final_dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   date                object
 1   month_num           int64
 2   shop_id             int64
 3   item_id             int64
 4   item_price          float64
 5   item_cnt_month      float64
 6   item_name           object
 7   category_id         int64
 8   item_category_name  object
 9   shop_name           object
dtypes: float64(2), int64(4), object(4)
memory usage: 224.0+ MB
None

In [1333]:
#Data Cleaning

#checking for missing values
print("\n\nMissing values in final_dataset:\n")
print(final_dataset.isnull().sum())

Missing values in final_dataset:

date                  0
month_num             0
shop_id               0
item_id               0
item_price            0
item_cnt_month        0
item_name             0
category_id           0
item_category_name    0
shop_name             0
dtype: int64

In [1334]:
#checking for null values
print("\n\nNull values in final_dataset:\n")
print(final_dataset.isnull().sum())

Null values in final_dataset:

date                  0
month_num             0
shop_id               0
item_id               0
item_price            0
item_cnt_month        0
item_name             0
category_id           0
item_category_name    0
shop_name             0
dtype: int64

In [1335]:
print(final_dataset.shape)

(2935849, 10)

In [1336]:
#handles the missing values in final_dataset
final_dataset['item_name'].fillna('Unknown', inplace=True)
final_dataset['item_category_name'].fillna('Unknown', inplace=True)

In [1337]:
print(final_dataset.shape)

(2935849, 10)

In [1338]:
#removes duplicates rows in final_dataset
final_dataset.drop_duplicates(inplace=True)

In [1339]:
print(final_dataset.shape)

(2935843, 10)

In [1340]:
#checks and solves the data type of the columns
print("\n\nData types of final_dataset:\n")
print(final_dataset.dtypes)

Data types of final_dataset:

date                   object
month_num               int64
shop_id                 int64
item_id                 int64
item_price            float64
item_cnt_month        float64
item_name              object
category_id             int64
item_category_name     object
shop_name              object
dtype: object

In [1341]:
#seems like item_cnt_month should be int64
final_dataset['item_cnt_month'] = final_dataset['item_cnt_month'].astype('int64')

In [1342]:
print(final_dataset.dtypes)

date                   object
month_num               int64
shop_id                 int64
item_id                 int64
item_price            float64
item_cnt_month          int64
item_name              object
category_id             int64
item_category_name     object
shop_name              object
dtype: object

In [1343]:
#prints item_cnt_month column to check whether it is int64
print(final_dataset['item_cnt_month'].head(30))

0     1
1     1
2    -1
3     1
4     1
5     1
6     1
7     1
8     1
9     3
10    2
11    1
12    1
13    2
14    1
15    2
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
Name: item_cnt_month, dtype: int64

In [1344]:
print(final_dataset.shape)

(2935843, 10)

In [1345]:
#removes -1 and 307980 from item_cnt_month column
#because it is an outlier
#and it is not possible to sell -1 and 307980 items in a day
#because 307980 is the total number of items sold in a day
#which means that the data is incorrect
#and -1 is not possible
#which means that the data is incorrect

final_dataset = final_dataset[(final_dataset['item_cnt_month'] > 0) & (final_dataset['item_cnt_month'] < 307980)]

print(final_dataset.shape)

(2928487, 10)

In [1346]:
#deal with the incorrect data in the item_price column
#the item_price should not be negative
#the item_price should not be zero
#the item_price should not be greater than 100000

final_dataset = final_dataset[(final_dataset['item_price'] > 0) & (final_dataset['item_price'] < 100000)]

In [1347]:
print(final_dataset.shape)

(2928485, 10)

In [1348]:
#handles special characters and formatting in the data set
final_dataset['item_name'] = final_dataset['item_name'].str.replace('[^A-Za-z0-9А-Яа-я]+', ' ')

In [1349]:
print(final_dataset.shape)

(2928485, 10)

In [1350]:
#handles noise in the data set

#removes the noise in the item_name column
final_dataset['item_name'] = final_dataset['item_name'].str.replace('  ', ' ')

In [1351]:
print(final_dataset.head())

         date  month_num  shop_id  item_id  item_price  item_cnt_month  \
0  02.01.2013          0       59    22154      999.00               1
1  03.01.2013          0       25     2552      899.00               1
3  06.01.2013          0       25     2554     1709.05               1
4  15.01.2013          0       25     2555     1099.00               1
5  10.01.2013          0       25     2564      349.00               1

                                           item_name  category_id  \
0                                    SCENE 2012 (BD)           37
1             DEEP PURPLE The House Of Blue Light LP           58
3             DEEP PURPLE Who Do You Think We Are LP           58
4      DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5  DEEP PURPLE Perihelion: Live In Concert DVD (C...           59

                    item_category_name                shop_name
0                     Cinema - Blu-Ray   Yaroslavl TC" Altair "
1                        Music - Vinyl     Moscow TEC" Atrium "
3                        Music - Vinyl     Moscow TEC" Atrium "
4   Music - CD of corporate production     Moscow TEC" Atrium "
5                  Music - Music video     Moscow TEC" Atrium "

In [1352]:
#data integration

#creates a new column called revenue
final_dataset['revenue'] = final_dataset['item_cnt_month'] * final_dataset['item_price']

In [1353]:
print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

          date  month_num  shop_id  item_id  item_price  item_cnt_month  \
0   02.01.2013          0       59    22154      999.00               1
1   03.01.2013          0       25     2552      899.00               1
3   06.01.2013          0       25     2554     1709.05               1
4   15.01.2013          0       25     2555     1099.00               1
5   10.01.2013          0       25     2564      349.00               1
6   02.01.2013          0       25     2565      549.00               1
7   04.01.2013          0       25     2572      239.00               1
8   11.01.2013          0       25     2572      299.00               1
9   03.01.2013          0       25     2573      299.00               3
10  03.01.2013          0       25     2574      399.00               2
11  05.01.2013          0       25     2574      399.00               1
12  07.01.2013          0       25     2574      399.00               1
13  08.01.2013          0       25     2574      399.00               2
14  10.01.2013          0       25     2574      399.00               1
15  11.01.2013          0       25     2574      399.00               2
16  13.01.2013          0       25     2574      399.00               1
17  16.01.2013          0       25     2574      399.00               1
18  26.01.2013          0       25     2574      399.00               1
19  27.01.2013          0       25     2574      399.00               1
20  09.01.2013          0       25     2593      279.00               1

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name                shop_name  revenue
0                      Cinema - Blu-Ray   Yaroslavl TC" Altair "   999.00
1                         Music - Vinyl     Moscow TEC" Atrium "   899.00
3                         Music - Vinyl     Moscow TEC" Atrium "  1709.05
4    Music - CD of corporate production     Moscow TEC" Atrium "  1099.00
5                   Music - Music video     Moscow TEC" Atrium "   349.00
6    Music - CD of corporate production     Moscow TEC" Atrium "   549.00
7        Music - CD of local production     Moscow TEC" Atrium "   239.00
8        Music - CD of local production     Moscow TEC" Atrium "   299.00
9        Music - CD of local production     Moscow TEC" Atrium "   897.00
10       Music - CD of local production     Moscow TEC" Atrium "   798.00
11       Music - CD of local production     Moscow TEC" Atrium "   399.00
12       Music - CD of local production     Moscow TEC" Atrium "   399.00
13       Music - CD of local production     Moscow TEC" Atrium "   798.00
14       Music - CD of local production     Moscow TEC" Atrium "   399.00
15       Music - CD of local production     Moscow TEC" Atrium "   798.00
16       Music - CD of local production     Moscow TEC" Atrium "   399.00
17       Music - CD of local production     Moscow TEC" Atrium "   399.00
18       Music - CD of local production     Moscow TEC" Atrium "   399.00
19       Music - CD of local production     Moscow TEC" Atrium "   399.00
20       Music - CD of local production     Moscow TEC" Atrium "   279.00
(2928485, 11)

In [1354]:
#feature engineering

#creates a new column called revenue_per_item
final_dataset['revenue_per_item'] = final_dataset['revenue'] / final_dataset['item_cnt_month']


print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

          date  month_num  shop_id  item_id  item_price  item_cnt_month  \
0   02.01.2013          0       59    22154      999.00               1
1   03.01.2013          0       25     2552      899.00               1
3   06.01.2013          0       25     2554     1709.05               1
4   15.01.2013          0       25     2555     1099.00               1
5   10.01.2013          0       25     2564      349.00               1
6   02.01.2013          0       25     2565      549.00               1
7   04.01.2013          0       25     2572      239.00               1
8   11.01.2013          0       25     2572      299.00               1
9   03.01.2013          0       25     2573      299.00               3
10  03.01.2013          0       25     2574      399.00               2
11  05.01.2013          0       25     2574      399.00               1
12  07.01.2013          0       25     2574      399.00               1
13  08.01.2013          0       25     2574      399.00               2
14  10.01.2013          0       25     2574      399.00               1
15  11.01.2013          0       25     2574      399.00               2
16  13.01.2013          0       25     2574      399.00               1
17  16.01.2013          0       25     2574      399.00               1
18  26.01.2013          0       25     2574      399.00               1
19  27.01.2013          0       25     2574      399.00               1
20  09.01.2013          0       25     2593      279.00               1

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name                shop_name  revenue  \
0                      Cinema - Blu-Ray   Yaroslavl TC" Altair "   999.00
1                         Music - Vinyl     Moscow TEC" Atrium "   899.00
3                         Music - Vinyl     Moscow TEC" Atrium "  1709.05
4    Music - CD of corporate production     Moscow TEC" Atrium "  1099.00
5                   Music - Music video     Moscow TEC" Atrium "   349.00
6    Music - CD of corporate production     Moscow TEC" Atrium "   549.00
7        Music - CD of local production     Moscow TEC" Atrium "   239.00
8        Music - CD of local production     Moscow TEC" Atrium "   299.00
9        Music - CD of local production     Moscow TEC" Atrium "   897.00
10       Music - CD of local production     Moscow TEC" Atrium "   798.00
11       Music - CD of local production     Moscow TEC" Atrium "   399.00
12       Music - CD of local production     Moscow TEC" Atrium "   399.00
13       Music - CD of local production     Moscow TEC" Atrium "   798.00
14       Music - CD of local production     Moscow TEC" Atrium "   399.00
15       Music - CD of local production     Moscow TEC" Atrium "   798.00
16       Music - CD of local production     Moscow TEC" Atrium "   399.00
17       Music - CD of local production     Moscow TEC" Atrium "   399.00
18       Music - CD of local production     Moscow TEC" Atrium "   399.00
19       Music - CD of local production     Moscow TEC" Atrium "   399.00
20       Music - CD of local production     Moscow TEC" Atrium "   279.00

    revenue_per_item
0             999.00
1             899.00
3            1709.05
4            1099.00
5             349.00
6             549.00
7             239.00
8             299.00
9             299.00
10            399.00
11            399.00
12            399.00
13            399.00
14            399.00
15            399.00
16            399.00
17            399.00
18            399.00
19            399.00
20            279.00
(2928485, 12)

In [1355]:
#checks whether the revenue_per_item column and revenue column are the same

if final_dataset['revenue_per_item'].equals(final_dataset['revenue']):
    # If they are the same, you can drop one of the columns
    final_dataset.drop(columns=['revenue_per_item'], inplace=True)

print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

          date  month_num  shop_id  item_id  item_price  item_cnt_month  \
0   02.01.2013          0       59    22154      999.00               1
1   03.01.2013          0       25     2552      899.00               1
3   06.01.2013          0       25     2554     1709.05               1
4   15.01.2013          0       25     2555     1099.00               1
5   10.01.2013          0       25     2564      349.00               1
6   02.01.2013          0       25     2565      549.00               1
7   04.01.2013          0       25     2572      239.00               1
8   11.01.2013          0       25     2572      299.00               1
9   03.01.2013          0       25     2573      299.00               3
10  03.01.2013          0       25     2574      399.00               2
11  05.01.2013          0       25     2574      399.00               1
12  07.01.2013          0       25     2574      399.00               1
13  08.01.2013          0       25     2574      399.00               2
14  10.01.2013          0       25     2574      399.00               1
15  11.01.2013          0       25     2574      399.00               2
16  13.01.2013          0       25     2574      399.00               1
17  16.01.2013          0       25     2574      399.00               1
18  26.01.2013          0       25     2574      399.00               1
19  27.01.2013          0       25     2574      399.00               1
20  09.01.2013          0       25     2593      279.00               1

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name                shop_name  revenue  \
0                      Cinema - Blu-Ray   Yaroslavl TC" Altair "   999.00
1                         Music - Vinyl     Moscow TEC" Atrium "   899.00
3                         Music - Vinyl     Moscow TEC" Atrium "  1709.05
4    Music - CD of corporate production     Moscow TEC" Atrium "  1099.00
5                   Music - Music video     Moscow TEC" Atrium "   349.00
6    Music - CD of corporate production     Moscow TEC" Atrium "   549.00
7        Music - CD of local production     Moscow TEC" Atrium "   239.00
8        Music - CD of local production     Moscow TEC" Atrium "   299.00
9        Music - CD of local production     Moscow TEC" Atrium "   897.00
10       Music - CD of local production     Moscow TEC" Atrium "   798.00
11       Music - CD of local production     Moscow TEC" Atrium "   399.00
12       Music - CD of local production     Moscow TEC" Atrium "   399.00
13       Music - CD of local production     Moscow TEC" Atrium "   798.00
14       Music - CD of local production     Moscow TEC" Atrium "   399.00
15       Music - CD of local production     Moscow TEC" Atrium "   798.00
16       Music - CD of local production     Moscow TEC" Atrium "   399.00
17       Music - CD of local production     Moscow TEC" Atrium "   399.00
18       Music - CD of local production     Moscow TEC" Atrium "   399.00
19       Music - CD of local production     Moscow TEC" Atrium "   399.00
20       Music - CD of local production     Moscow TEC" Atrium "   279.00

    revenue_per_item
0             999.00
1             899.00
3            1709.05
4            1099.00
5             349.00
6             549.00
7             239.00
8             299.00
9             299.00
10            399.00
11            399.00
12            399.00
13            399.00
14            399.00
15            399.00
16            399.00
17            399.00
18            399.00
19            399.00
20            279.00
(2928485, 12)

In [1356]:
#data integration and data transformation

#creates a new column called date num
final_dataset['date_num'] = final_dataset['date'].str[:2]

In [1357]:
print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

          date  month_num  shop_id  item_id  item_price  item_cnt_month  \
0   02.01.2013          0       59    22154      999.00               1
1   03.01.2013          0       25     2552      899.00               1
3   06.01.2013          0       25     2554     1709.05               1
4   15.01.2013          0       25     2555     1099.00               1
5   10.01.2013          0       25     2564      349.00               1
6   02.01.2013          0       25     2565      549.00               1
7   04.01.2013          0       25     2572      239.00               1
8   11.01.2013          0       25     2572      299.00               1
9   03.01.2013          0       25     2573      299.00               3
10  03.01.2013          0       25     2574      399.00               2
11  05.01.2013          0       25     2574      399.00               1
12  07.01.2013          0       25     2574      399.00               1
13  08.01.2013          0       25     2574      399.00               2
14  10.01.2013          0       25     2574      399.00               1
15  11.01.2013          0       25     2574      399.00               2
16  13.01.2013          0       25     2574      399.00               1
17  16.01.2013          0       25     2574      399.00               1
18  26.01.2013          0       25     2574      399.00               1
19  27.01.2013          0       25     2574      399.00               1
20  09.01.2013          0       25     2593      279.00               1

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name                shop_name  revenue  \
0                      Cinema - Blu-Ray   Yaroslavl TC" Altair "   999.00
1                         Music - Vinyl     Moscow TEC" Atrium "   899.00
3                         Music - Vinyl     Moscow TEC" Atrium "  1709.05
4    Music - CD of corporate production     Moscow TEC" Atrium "  1099.00
5                   Music - Music video     Moscow TEC" Atrium "   349.00
6    Music - CD of corporate production     Moscow TEC" Atrium "   549.00
7        Music - CD of local production     Moscow TEC" Atrium "   239.00
8        Music - CD of local production     Moscow TEC" Atrium "   299.00
9        Music - CD of local production     Moscow TEC" Atrium "   897.00
10       Music - CD of local production     Moscow TEC" Atrium "   798.00
11       Music - CD of local production     Moscow TEC" Atrium "   399.00
12       Music - CD of local production     Moscow TEC" Atrium "   399.00
13       Music - CD of local production     Moscow TEC" Atrium "   798.00
14       Music - CD of local production     Moscow TEC" Atrium "   399.00
15       Music - CD of local production     Moscow TEC" Atrium "   798.00
16       Music - CD of local production     Moscow TEC" Atrium "   399.00
17       Music - CD of local production     Moscow TEC" Atrium "   399.00
18       Music - CD of local production     Moscow TEC" Atrium "   399.00
19       Music - CD of local production     Moscow TEC" Atrium "   399.00
20       Music - CD of local production     Moscow TEC" Atrium "   279.00

    revenue_per_item date_num
0             999.00       02
1             899.00       03
3            1709.05       06
4            1099.00       15
5             349.00       10
6             549.00       02
7             239.00       04
8             299.00       11
9             299.00       03
10            399.00       03
11            399.00       05
12            399.00       07
13            399.00       08
14            399.00       10
15            399.00       11
16            399.00       13
17            399.00       16
18            399.00       26
19            399.00       27
20            279.00       09
(2928485, 13)

In [1358]:
#data integration

#creates a new column called year num
final_dataset['year_num'] = final_dataset['date'].str[6:]

In [1359]:
print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

          date  month_num  shop_id  item_id  item_price  item_cnt_month  \
0   02.01.2013          0       59    22154      999.00               1
1   03.01.2013          0       25     2552      899.00               1
3   06.01.2013          0       25     2554     1709.05               1
4   15.01.2013          0       25     2555     1099.00               1
5   10.01.2013          0       25     2564      349.00               1
6   02.01.2013          0       25     2565      549.00               1
7   04.01.2013          0       25     2572      239.00               1
8   11.01.2013          0       25     2572      299.00               1
9   03.01.2013          0       25     2573      299.00               3
10  03.01.2013          0       25     2574      399.00               2
11  05.01.2013          0       25     2574      399.00               1
12  07.01.2013          0       25     2574      399.00               1
13  08.01.2013          0       25     2574      399.00               2
14  10.01.2013          0       25     2574      399.00               1
15  11.01.2013          0       25     2574      399.00               2
16  13.01.2013          0       25     2574      399.00               1
17  16.01.2013          0       25     2574      399.00               1
18  26.01.2013          0       25     2574      399.00               1
19  27.01.2013          0       25     2574      399.00               1
20  09.01.2013          0       25     2593      279.00               1

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name                shop_name  revenue  \
0                      Cinema - Blu-Ray   Yaroslavl TC" Altair "   999.00
1                         Music - Vinyl     Moscow TEC" Atrium "   899.00
3                         Music - Vinyl     Moscow TEC" Atrium "  1709.05
4    Music - CD of corporate production     Moscow TEC" Atrium "  1099.00
5                   Music - Music video     Moscow TEC" Atrium "   349.00
6    Music - CD of corporate production     Moscow TEC" Atrium "   549.00
7        Music - CD of local production     Moscow TEC" Atrium "   239.00
8        Music - CD of local production     Moscow TEC" Atrium "   299.00
9        Music - CD of local production     Moscow TEC" Atrium "   897.00
10       Music - CD of local production     Moscow TEC" Atrium "   798.00
11       Music - CD of local production     Moscow TEC" Atrium "   399.00
12       Music - CD of local production     Moscow TEC" Atrium "   399.00
13       Music - CD of local production     Moscow TEC" Atrium "   798.00
14       Music - CD of local production     Moscow TEC" Atrium "   399.00
15       Music - CD of local production     Moscow TEC" Atrium "   798.00
16       Music - CD of local production     Moscow TEC" Atrium "   399.00
17       Music - CD of local production     Moscow TEC" Atrium "   399.00
18       Music - CD of local production     Moscow TEC" Atrium "   399.00
19       Music - CD of local production     Moscow TEC" Atrium "   399.00
20       Music - CD of local production     Moscow TEC" Atrium "   279.00

    revenue_per_item date_num year_num
0             999.00       02     2013
1             899.00       03     2013
3            1709.05       06     2013
4            1099.00       15     2013
5             349.00       10     2013
6             549.00       02     2013
7             239.00       04     2013
8             299.00       11     2013
9             299.00       03     2013
10            399.00       03     2013
11            399.00       05     2013
12            399.00       07     2013
13            399.00       08     2013
14            399.00       10     2013
15            399.00       11     2013
16            399.00       13     2013
17            399.00       16     2013
18            399.00       26     2013
19            399.00       27     2013
20            279.00       09     2013
(2928485, 14)

In [1360]:
print(final_dataset.shape)
print(final_dataset.info())

(2928485, 14)
<class 'pandas.core.frame.DataFrame'>
Index: 2928485 entries, 0 to 2935848
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   date                object
 1   month_num           int64
 2   shop_id             int64
 3   item_id             int64
 4   item_price          float64
 5   item_cnt_month      int64
 6   item_name           object
 7   category_id         int64
 8   item_category_name  object
 9   shop_name           object
 10  revenue             float64
 11  revenue_per_item    float64
 12  date_num            object
 13  year_num            object
dtypes: float64(3), int64(5), object(6)
memory usage: 335.1+ MB
None

In [1361]:
# rearrange the columns
final_dataset = final_dataset[['date', 'date_num', 'year_num', 'month_num', 'shop_id', 'shop_name', 'item_id', 'item_name', 'category_id', 'item_category_name', 'item_price', 'item_cnt_month', 'revenue']]

print(final_dataset.shape)
print(final_dataset.info())

(2928485, 13)
<class 'pandas.core.frame.DataFrame'>
Index: 2928485 entries, 0 to 2935848
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   date                object
 1   date_num            object
 2   year_num            object
 3   month_num           int64
 4   shop_id             int64
 5   shop_name           object
 6   item_id             int64
 7   item_name           object
 8   category_id         int64
 9   item_category_name  object
 10  item_price          float64
 11  item_cnt_month      int64
 12  revenue             float64
dtypes: float64(2), int64(5), object(6)
memory usage: 312.8+ MB
None

In [1362]:
#since we already handled the missing and null values in the data set there is no need for imputation

In [1363]:
#data profiling

#descriptive statistics
print("\n\nDescriptive statistics of final_dataset:\n")
print(final_dataset.describe())

Descriptive statistics of final_dataset:

          month_num       shop_id       item_id   category_id    item_price  \
count  2.928485e+06  2.928485e+06  2.928485e+06  2.928485e+06  2.928485e+06
mean   1.456977e+01  3.300294e+01  1.020029e+04  4.001637e+01  8.893621e+02
std    9.422957e+00  1.622543e+01  6.324392e+03  1.709811e+01  1.718155e+03
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  7.000000e-02
25%    7.000000e+00  2.200000e+01  4.477000e+03  2.800000e+01  2.490000e+02
50%    1.400000e+01  3.100000e+01  9.355000e+03  4.000000e+01  3.990000e+02
75%    2.300000e+01  4.700000e+01  1.569100e+04  5.500000e+01  9.990000e+02
max    3.300000e+01  5.900000e+01  2.216900e+04  8.300000e+01  5.920000e+04

       item_cnt_month       revenue
count    2.928485e+06  2.928485e+06
mean     1.248338e+00  1.164269e+03
std      2.619589e+00  5.684852e+03
min      1.000000e+00  7.000000e-02
25%      1.000000e+00  2.490000e+02
50%      1.000000e+00  4.490000e+02
75%      1.000000e+00  1.090000e+03
max      2.169000e+03  1.829990e+06

In [1364]:
#data enrichment

#creates a new column called month name
final_dataset['month_name'] = final_dataset['month_num'].replace({0: 'January', 1: 'February', 2: 'March', 3: 'April', 4: 'May', 5: 'June', 6: 'July', 7: 'August', 8: 'September', 9: 'October', 10: 'November', 11: 'December', 12: 'January', 13: 'February', 14: 'March', 15: 'April', 16: 'May', 17: 'June', 18: 'July', 19: 'August', 20: 'September', 21: 'October', 22: 'November', 23: 'December', 24: 'January', 25: 'February', 26: 'March', 27: 'April', 28: 'May', 29: 'June', 30: 'July', 31: 'August', 32: 'September', 33: 'October'})

print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

          date date_num year_num  month_num  shop_id                shop_name  \
0   02.01.2013       02     2013          0       59   Yaroslavl TC" Altair "
1   03.01.2013       03     2013          0       25     Moscow TEC" Atrium "
3   06.01.2013       06     2013          0       25     Moscow TEC" Atrium "
4   15.01.2013       15     2013          0       25     Moscow TEC" Atrium "
5   10.01.2013       10     2013          0       25     Moscow TEC" Atrium "
6   02.01.2013       02     2013          0       25     Moscow TEC" Atrium "
7   04.01.2013       04     2013          0       25     Moscow TEC" Atrium "
8   11.01.2013       11     2013          0       25     Moscow TEC" Atrium "
9   03.01.2013       03     2013          0       25     Moscow TEC" Atrium "
10  03.01.2013       03     2013          0       25     Moscow TEC" Atrium "
11  05.01.2013       05     2013          0       25     Moscow TEC" Atrium "
12  07.01.2013       07     2013          0       25     Moscow TEC" Atrium "
13  08.01.2013       08     2013          0       25     Moscow TEC" Atrium "
14  10.01.2013       10     2013          0       25     Moscow TEC" Atrium "
15  11.01.2013       11     2013          0       25     Moscow TEC" Atrium "
16  13.01.2013       13     2013          0       25     Moscow TEC" Atrium "
17  16.01.2013       16     2013          0       25     Moscow TEC" Atrium "
18  26.01.2013       26     2013          0       25     Moscow TEC" Atrium "
19  27.01.2013       27     2013          0       25     Moscow TEC" Atrium "
20  09.01.2013       09     2013          0       25     Moscow TEC" Atrium "

    item_id                                          item_name  category_id  \
0     22154                                    SCENE 2012 (BD)           37
1      2552             DEEP PURPLE The House Of Blue Light LP           58
3      2554             DEEP PURPLE Who Do You Think We Are LP           58
4      2555      DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5      2564  DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6      2565                  DEEP PURPLE Stormbringer (firms).           56
7      2572                              DEFTONES Koi No Yokan           55
8      2572                              DEFTONES Koi No Yokan           55
9      2573                           DEL REY LANA Born To Die           55
10     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20     2593                  DEPECHE MODE Music For The Masses           55

                     item_category_name  item_price  item_cnt_month  revenue  \
0                      Cinema - Blu-Ray      999.00               1   999.00
1                         Music - Vinyl      899.00               1   899.00
3                         Music - Vinyl     1709.05               1  1709.05
4    Music - CD of corporate production     1099.00               1  1099.00
5                   Music - Music video      349.00               1   349.00
6    Music - CD of corporate production      549.00               1   549.00
7        Music - CD of local production      239.00               1   239.00
8        Music - CD of local production      299.00               1   299.00
9        Music - CD of local production      299.00               3   897.00
10       Music - CD of local production      399.00               2   798.00
11       Music - CD of local production      399.00               1   399.00
12       Music - CD of local production      399.00               1   399.00
13       Music - CD of local production      399.00               2   798.00
14       Music - CD of local production      399.00               1   399.00
15       Music - CD of local production      399.00               2   798.00
16       Music - CD of local production      399.00               1   399.00
17       Music - CD of local production      399.00               1   399.00
18       Music - CD of local production      399.00               1   399.00
19       Music - CD of local production      399.00               1   399.00
20       Music - CD of local production      279.00               1   279.00

   month_name
0     January
1     January
3     January
4     January
5     January
6     January
7     January
8     January
9     January
10    January
11    January
12    January
13    January
14    January
15    January
16    January
17    January
18    January
19    January
20    January
(2928485, 14)

In [1365]:
#removes month_num column

final_dataset.drop(columns=['month_num'], inplace=True)

print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

          date date_num year_num  shop_id                shop_name  item_id  \
0   02.01.2013       02     2013       59   Yaroslavl TC" Altair "    22154
1   03.01.2013       03     2013       25     Moscow TEC" Atrium "     2552
3   06.01.2013       06     2013       25     Moscow TEC" Atrium "     2554
4   15.01.2013       15     2013       25     Moscow TEC" Atrium "     2555
5   10.01.2013       10     2013       25     Moscow TEC" Atrium "     2564
6   02.01.2013       02     2013       25     Moscow TEC" Atrium "     2565
7   04.01.2013       04     2013       25     Moscow TEC" Atrium "     2572
8   11.01.2013       11     2013       25     Moscow TEC" Atrium "     2572
9   03.01.2013       03     2013       25     Moscow TEC" Atrium "     2573
10  03.01.2013       03     2013       25     Moscow TEC" Atrium "     2574
11  05.01.2013       05     2013       25     Moscow TEC" Atrium "     2574
12  07.01.2013       07     2013       25     Moscow TEC" Atrium "     2574
13  08.01.2013       08     2013       25     Moscow TEC" Atrium "     2574
14  10.01.2013       10     2013       25     Moscow TEC" Atrium "     2574
15  11.01.2013       11     2013       25     Moscow TEC" Atrium "     2574
16  13.01.2013       13     2013       25     Moscow TEC" Atrium "     2574
17  16.01.2013       16     2013       25     Moscow TEC" Atrium "     2574
18  26.01.2013       26     2013       25     Moscow TEC" Atrium "     2574
19  27.01.2013       27     2013       25     Moscow TEC" Atrium "     2574
20  09.01.2013       09     2013       25     Moscow TEC" Atrium "     2593

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name  item_price  item_cnt_month  revenue  \
0                      Cinema - Blu-Ray      999.00               1   999.00
1                         Music - Vinyl      899.00               1   899.00
3                         Music - Vinyl     1709.05               1  1709.05
4    Music - CD of corporate production     1099.00               1  1099.00
5                   Music - Music video      349.00               1   349.00
6    Music - CD of corporate production      549.00               1   549.00
7        Music - CD of local production      239.00               1   239.00
8        Music - CD of local production      299.00               1   299.00
9        Music - CD of local production      299.00               3   897.00
10       Music - CD of local production      399.00               2   798.00
11       Music - CD of local production      399.00               1   399.00
12       Music - CD of local production      399.00               1   399.00
13       Music - CD of local production      399.00               2   798.00
14       Music - CD of local production      399.00               1   399.00
15       Music - CD of local production      399.00               2   798.00
16       Music - CD of local production      399.00               1   399.00
17       Music - CD of local production      399.00               1   399.00
18       Music - CD of local production      399.00               1   399.00
19       Music - CD of local production      399.00               1   399.00
20       Music - CD of local production      279.00               1   279.00

   month_name
0     January
1     January
3     January
4     January
5     January
6     January
7     January
8     January
9     January
10    January
11    January
12    January
13    January
14    January
15    January
16    January
17    January
18    January
19    January
20    January
(2928485, 13)

In [1366]:
#rearange the columns

final_dataset = final_dataset[['date', 'date_num', 'month_name', 'year_num', 'shop_id', 'shop_name', 'item_id', 'item_name', 'category_id', 'item_category_name', 'item_price', 'item_cnt_month', 'revenue']]

print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

          date date_num month_name year_num  shop_id                shop_name  \
0   02.01.2013       02    January     2013       59   Yaroslavl TC" Altair "
1   03.01.2013       03    January     2013       25     Moscow TEC" Atrium "
3   06.01.2013       06    January     2013       25     Moscow TEC" Atrium "
4   15.01.2013       15    January     2013       25     Moscow TEC" Atrium "
5   10.01.2013       10    January     2013       25     Moscow TEC" Atrium "
6   02.01.2013       02    January     2013       25     Moscow TEC" Atrium "
7   04.01.2013       04    January     2013       25     Moscow TEC" Atrium "
8   11.01.2013       11    January     2013       25     Moscow TEC" Atrium "
9   03.01.2013       03    January     2013       25     Moscow TEC" Atrium "
10  03.01.2013       03    January     2013       25     Moscow TEC" Atrium "
11  05.01.2013       05    January     2013       25     Moscow TEC" Atrium "
12  07.01.2013       07    January     2013       25     Moscow TEC" Atrium "
13  08.01.2013       08    January     2013       25     Moscow TEC" Atrium "
14  10.01.2013       10    January     2013       25     Moscow TEC" Atrium "
15  11.01.2013       11    January     2013       25     Moscow TEC" Atrium "
16  13.01.2013       13    January     2013       25     Moscow TEC" Atrium "
17  16.01.2013       16    January     2013       25     Moscow TEC" Atrium "
18  26.01.2013       26    January     2013       25     Moscow TEC" Atrium "
19  27.01.2013       27    January     2013       25     Moscow TEC" Atrium "
20  09.01.2013       09    January     2013       25     Moscow TEC" Atrium "

    item_id                                          item_name  category_id  \
0     22154                                    SCENE 2012 (BD)           37
1      2552             DEEP PURPLE The House Of Blue Light LP           58
3      2554             DEEP PURPLE Who Do You Think We Are LP           58
4      2555      DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5      2564  DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6      2565                  DEEP PURPLE Stormbringer (firms).           56
7      2572                              DEFTONES Koi No Yokan           55
8      2572                              DEFTONES Koi No Yokan           55
9      2573                           DEL REY LANA Born To Die           55
10     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19     2574  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20     2593                  DEPECHE MODE Music For The Masses           55

                     item_category_name  item_price  item_cnt_month  revenue
0                      Cinema - Blu-Ray      999.00               1   999.00
1                         Music - Vinyl      899.00               1   899.00
3                         Music - Vinyl     1709.05               1  1709.05
4    Music - CD of corporate production     1099.00               1  1099.00
5                   Music - Music video      349.00               1   349.00
6    Music - CD of corporate production      549.00               1   549.00
7        Music - CD of local production      239.00               1   239.00
8        Music - CD of local production      299.00               1   299.00
9        Music - CD of local production      299.00               3   897.00
10       Music - CD of local production      399.00               2   798.00
11       Music - CD of local production      399.00               1   399.00
12       Music - CD of local production      399.00               1   399.00
13       Music - CD of local production      399.00               2   798.00
14       Music - CD of local production      399.00               1   399.00
15       Music - CD of local production      399.00               2   798.00
16       Music - CD of local production      399.00               1   399.00
17       Music - CD of local production      399.00               1   399.00
18       Music - CD of local production      399.00               1   399.00
19       Music - CD of local production      399.00               1   399.00
20       Music - CD of local production      279.00               1   279.00
(2928485, 13)

In [1367]:
#feature selection

#removes the columns that are not needed

final_dataset.drop(columns=['date'], inplace=True)

In [1368]:
print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

   date_num month_name year_num  shop_id                shop_name  item_id  \
0        02    January     2013       59   Yaroslavl TC" Altair "    22154
1        03    January     2013       25     Moscow TEC" Atrium "     2552
3        06    January     2013       25     Moscow TEC" Atrium "     2554
4        15    January     2013       25     Moscow TEC" Atrium "     2555
5        10    January     2013       25     Moscow TEC" Atrium "     2564
6        02    January     2013       25     Moscow TEC" Atrium "     2565
7        04    January     2013       25     Moscow TEC" Atrium "     2572
8        11    January     2013       25     Moscow TEC" Atrium "     2572
9        03    January     2013       25     Moscow TEC" Atrium "     2573
10       03    January     2013       25     Moscow TEC" Atrium "     2574
11       05    January     2013       25     Moscow TEC" Atrium "     2574
12       07    January     2013       25     Moscow TEC" Atrium "     2574
13       08    January     2013       25     Moscow TEC" Atrium "     2574
14       10    January     2013       25     Moscow TEC" Atrium "     2574
15       11    January     2013       25     Moscow TEC" Atrium "     2574
16       13    January     2013       25     Moscow TEC" Atrium "     2574
17       16    January     2013       25     Moscow TEC" Atrium "     2574
18       26    January     2013       25     Moscow TEC" Atrium "     2574
19       27    January     2013       25     Moscow TEC" Atrium "     2574
20       09    January     2013       25     Moscow TEC" Atrium "     2593

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name  item_price  item_cnt_month  revenue
0                      Cinema - Blu-Ray      999.00               1   999.00
1                         Music - Vinyl      899.00               1   899.00
3                         Music - Vinyl     1709.05               1  1709.05
4    Music - CD of corporate production     1099.00               1  1099.00
5                   Music - Music video      349.00               1   349.00
6    Music - CD of corporate production      549.00               1   549.00
7        Music - CD of local production      239.00               1   239.00
8        Music - CD of local production      299.00               1   299.00
9        Music - CD of local production      299.00               3   897.00
10       Music - CD of local production      399.00               2   798.00
11       Music - CD of local production      399.00               1   399.00
12       Music - CD of local production      399.00               1   399.00
13       Music - CD of local production      399.00               2   798.00
14       Music - CD of local production      399.00               1   399.00
15       Music - CD of local production      399.00               2   798.00
16       Music - CD of local production      399.00               1   399.00
17       Music - CD of local production      399.00               1   399.00
18       Music - CD of local production      399.00               1   399.00
19       Music - CD of local production      399.00               1   399.00
20       Music - CD of local production      279.00               1   279.00
(2928485, 12)

In [1369]:
#imputation is already performed under data preprocessing
#outliers are handled already under data preprocessing

In [1370]:
#data binning

#found the bins using the following code
print(final_dataset['item_price'].max())
print(final_dataset['item_price'].min())

#creates a new column called price range
final_dataset['price_range'] = pd.cut(final_dataset['item_price'], bins=[-1, 100, 200, 300, 400, 500, 600, 700, 800, 900, 100000], labels=['0-100', '100-200', '200-300', '300-400', '400-500', '500-600', '600-700', '700-800', '800-900', '900-100000'])

59200.0
0.07

In [1371]:
print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

   date_num month_name year_num  shop_id                shop_name  item_id  \
0        02    January     2013       59   Yaroslavl TC" Altair "    22154
1        03    January     2013       25     Moscow TEC" Atrium "     2552
3        06    January     2013       25     Moscow TEC" Atrium "     2554
4        15    January     2013       25     Moscow TEC" Atrium "     2555
5        10    January     2013       25     Moscow TEC" Atrium "     2564
6        02    January     2013       25     Moscow TEC" Atrium "     2565
7        04    January     2013       25     Moscow TEC" Atrium "     2572
8        11    January     2013       25     Moscow TEC" Atrium "     2572
9        03    January     2013       25     Moscow TEC" Atrium "     2573
10       03    January     2013       25     Moscow TEC" Atrium "     2574
11       05    January     2013       25     Moscow TEC" Atrium "     2574
12       07    January     2013       25     Moscow TEC" Atrium "     2574
13       08    January     2013       25     Moscow TEC" Atrium "     2574
14       10    January     2013       25     Moscow TEC" Atrium "     2574
15       11    January     2013       25     Moscow TEC" Atrium "     2574
16       13    January     2013       25     Moscow TEC" Atrium "     2574
17       16    January     2013       25     Moscow TEC" Atrium "     2574
18       26    January     2013       25     Moscow TEC" Atrium "     2574
19       27    January     2013       25     Moscow TEC" Atrium "     2574
20       09    January     2013       25     Moscow TEC" Atrium "     2593

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name  item_price  item_cnt_month  revenue  \
0                      Cinema - Blu-Ray      999.00               1   999.00
1                         Music - Vinyl      899.00               1   899.00
3                         Music - Vinyl     1709.05               1  1709.05
4    Music - CD of corporate production     1099.00               1  1099.00
5                   Music - Music video      349.00               1   349.00
6    Music - CD of corporate production      549.00               1   549.00
7        Music - CD of local production      239.00               1   239.00
8        Music - CD of local production      299.00               1   299.00
9        Music - CD of local production      299.00               3   897.00
10       Music - CD of local production      399.00               2   798.00
11       Music - CD of local production      399.00               1   399.00
12       Music - CD of local production      399.00               1   399.00
13       Music - CD of local production      399.00               2   798.00
14       Music - CD of local production      399.00               1   399.00
15       Music - CD of local production      399.00               2   798.00
16       Music - CD of local production      399.00               1   399.00
17       Music - CD of local production      399.00               1   399.00
18       Music - CD of local production      399.00               1   399.00
19       Music - CD of local production      399.00               1   399.00
20       Music - CD of local production      279.00               1   279.00

   price_range
0   900-100000
1      800-900
3   900-100000
4   900-100000
5      300-400
6      500-600
7      200-300
8      200-300
9      200-300
10     300-400
11     300-400
12     300-400
13     300-400
14     300-400
15     300-400
16     300-400
17     300-400
18     300-400
19     300-400
20     200-300
(2928485, 13)

In [1372]:
#log transformation
#this will help to address certain issues in the data set and it'll help to enhance the performance of the model

#creates a new column called log_revenue
final_dataset['log_revenue'] = np.log(final_dataset['revenue'])

In [1373]:
print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

   date_num month_name year_num  shop_id                shop_name  item_id  \
0        02    January     2013       59   Yaroslavl TC" Altair "    22154
1        03    January     2013       25     Moscow TEC" Atrium "     2552
3        06    January     2013       25     Moscow TEC" Atrium "     2554
4        15    January     2013       25     Moscow TEC" Atrium "     2555
5        10    January     2013       25     Moscow TEC" Atrium "     2564
6        02    January     2013       25     Moscow TEC" Atrium "     2565
7        04    January     2013       25     Moscow TEC" Atrium "     2572
8        11    January     2013       25     Moscow TEC" Atrium "     2572
9        03    January     2013       25     Moscow TEC" Atrium "     2573
10       03    January     2013       25     Moscow TEC" Atrium "     2574
11       05    January     2013       25     Moscow TEC" Atrium "     2574
12       07    January     2013       25     Moscow TEC" Atrium "     2574
13       08    January     2013       25     Moscow TEC" Atrium "     2574
14       10    January     2013       25     Moscow TEC" Atrium "     2574
15       11    January     2013       25     Moscow TEC" Atrium "     2574
16       13    January     2013       25     Moscow TEC" Atrium "     2574
17       16    January     2013       25     Moscow TEC" Atrium "     2574
18       26    January     2013       25     Moscow TEC" Atrium "     2574
19       27    January     2013       25     Moscow TEC" Atrium "     2574
20       09    January     2013       25     Moscow TEC" Atrium "     2593

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name  item_price  item_cnt_month  revenue  \
0                      Cinema - Blu-Ray      999.00               1   999.00
1                         Music - Vinyl      899.00               1   899.00
3                         Music - Vinyl     1709.05               1  1709.05
4    Music - CD of corporate production     1099.00               1  1099.00
5                   Music - Music video      349.00               1   349.00
6    Music - CD of corporate production      549.00               1   549.00
7        Music - CD of local production      239.00               1   239.00
8        Music - CD of local production      299.00               1   299.00
9        Music - CD of local production      299.00               3   897.00
10       Music - CD of local production      399.00               2   798.00
11       Music - CD of local production      399.00               1   399.00
12       Music - CD of local production      399.00               1   399.00
13       Music - CD of local production      399.00               2   798.00
14       Music - CD of local production      399.00               1   399.00
15       Music - CD of local production      399.00               2   798.00
16       Music - CD of local production      399.00               1   399.00
17       Music - CD of local production      399.00               1   399.00
18       Music - CD of local production      399.00               1   399.00
19       Music - CD of local production      399.00               1   399.00
20       Music - CD of local production      279.00               1   279.00

   price_range  log_revenue
0   900-100000     6.906755
1      800-900     6.801283
3   900-100000     7.443693
4   900-100000     7.002156
5      300-400     5.855072
6      500-600     6.308098
7      200-300     5.476464
8      200-300     5.700444
9      200-300     6.799056
10     300-400     6.682109
11     300-400     5.988961
12     300-400     5.988961
13     300-400     6.682109
14     300-400     5.988961
15     300-400     6.682109
16     300-400     5.988961
17     300-400     5.988961
18     300-400     5.988961
19     300-400     5.988961
20     200-300     5.631212
(2928485, 14)

In [1374]:
#encoding

#encodes the year_num column to 0, 1, 2

final_dataset['year_num'] = final_dataset['year_num'].replace({'2013': 0, '2014': 1, '2015': 2})


print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

   date_num month_name  year_num  shop_id                shop_name  item_id  \
0        02    January         0       59   Yaroslavl TC" Altair "    22154
1        03    January         0       25     Moscow TEC" Atrium "     2552
3        06    January         0       25     Moscow TEC" Atrium "     2554
4        15    January         0       25     Moscow TEC" Atrium "     2555
5        10    January         0       25     Moscow TEC" Atrium "     2564
6        02    January         0       25     Moscow TEC" Atrium "     2565
7        04    January         0       25     Moscow TEC" Atrium "     2572
8        11    January         0       25     Moscow TEC" Atrium "     2572
9        03    January         0       25     Moscow TEC" Atrium "     2573
10       03    January         0       25     Moscow TEC" Atrium "     2574
11       05    January         0       25     Moscow TEC" Atrium "     2574
12       07    January         0       25     Moscow TEC" Atrium "     2574
13       08    January         0       25     Moscow TEC" Atrium "     2574
14       10    January         0       25     Moscow TEC" Atrium "     2574
15       11    January         0       25     Moscow TEC" Atrium "     2574
16       13    January         0       25     Moscow TEC" Atrium "     2574
17       16    January         0       25     Moscow TEC" Atrium "     2574
18       26    January         0       25     Moscow TEC" Atrium "     2574
19       27    January         0       25     Moscow TEC" Atrium "     2574
20       09    January         0       25     Moscow TEC" Atrium "     2593

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name  item_price  item_cnt_month  revenue  \
0                      Cinema - Blu-Ray      999.00               1   999.00
1                         Music - Vinyl      899.00               1   899.00
3                         Music - Vinyl     1709.05               1  1709.05
4    Music - CD of corporate production     1099.00               1  1099.00
5                   Music - Music video      349.00               1   349.00
6    Music - CD of corporate production      549.00               1   549.00
7        Music - CD of local production      239.00               1   239.00
8        Music - CD of local production      299.00               1   299.00
9        Music - CD of local production      299.00               3   897.00
10       Music - CD of local production      399.00               2   798.00
11       Music - CD of local production      399.00               1   399.00
12       Music - CD of local production      399.00               1   399.00
13       Music - CD of local production      399.00               2   798.00
14       Music - CD of local production      399.00               1   399.00
15       Music - CD of local production      399.00               2   798.00
16       Music - CD of local production      399.00               1   399.00
17       Music - CD of local production      399.00               1   399.00
18       Music - CD of local production      399.00               1   399.00
19       Music - CD of local production      399.00               1   399.00
20       Music - CD of local production      279.00               1   279.00

   price_range  log_revenue
0   900-100000     6.906755
1      800-900     6.801283
3   900-100000     7.443693
4   900-100000     7.002156
5      300-400     5.855072
6      500-600     6.308098
7      200-300     5.476464
8      200-300     5.700444
9      200-300     6.799056
10     300-400     6.682109
11     300-400     5.988961
12     300-400     5.988961
13     300-400     6.682109
14     300-400     5.988961
15     300-400     6.682109
16     300-400     5.988961
17     300-400     5.988961
18     300-400     5.988961
19     300-400     5.988961
20     200-300     5.631212
(2928485, 14)

In [1375]:
#grouping and aggregation

#grouping the data set by shop_id and year_num
#and aggregating the item_cnt_month column using sum

grouped_by_shop_id_and_year_num = final_dataset.groupby(['shop_id', 'year_num']).agg({'item_cnt_month': 'sum'})

print("\n\nHead of grouped_by_shop_id_and_year_num:\n")
print(grouped_by_shop_id_and_year_num.head(60))
print(grouped_by_shop_id_and_year_num.shape)

Head of grouped_by_shop_id_and_year_num:

                  item_cnt_month
shop_id year_num
0       0                  11705
1       0                   6311
2       0                   9989
        1                  12247
        2                   8470
3       0                  10242
        1                  11039
        2                   7194
4       0                  19054
        1                  15909
        2                   9106
5       0                  14717
        1                  17041
        2                  11089
6       0                  46707
        1                  35496
        2                  18554
7       0                  28218
        1                  24530
        2                  14411
8       0                   3602
9       0                   6531
        1                   6155
        2                   3188
10      0                  11132
        1                   8859
        2                   4532
11      2                    572
12      0                  19494
        1                  26379
        2                  28116
13      0                  13529
        1                   6234
14      0                  20114
        1                  16003
        2                  10397
15      0                  32339
        1                  24854
        2                  14138
16      0                  30250
        1                  19569
        2                  11953
17      0                   9913
        1                  15308
        2                    697
18      0                  33632
        1                  18815
        2                  13174
19      0                  32860
        1                  25353
        2                  15455
20      1                   3262
        2                   2611
21      0                  25258
        1                  25167
        2                  18259
22      0                  26943
        1                  20341
        2                  13050
23      0                   7722
(159, 1)

In [1376]:
#feature split is already performed under data preprocessing

In [1377]:
#scaling

#creates a new column called scaled_revenue
final_dataset['scaled_revenue'] = (final_dataset['revenue'] - final_dataset['revenue'].min()) / (final_dataset['revenue'].max() - final_dataset['revenue'].min())

print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

   date_num month_name  year_num  shop_id                shop_name  item_id  \
0        02    January         0       59   Yaroslavl TC" Altair "    22154
1        03    January         0       25     Moscow TEC" Atrium "     2552
3        06    January         0       25     Moscow TEC" Atrium "     2554
4        15    January         0       25     Moscow TEC" Atrium "     2555
5        10    January         0       25     Moscow TEC" Atrium "     2564
6        02    January         0       25     Moscow TEC" Atrium "     2565
7        04    January         0       25     Moscow TEC" Atrium "     2572
8        11    January         0       25     Moscow TEC" Atrium "     2572
9        03    January         0       25     Moscow TEC" Atrium "     2573
10       03    January         0       25     Moscow TEC" Atrium "     2574
11       05    January         0       25     Moscow TEC" Atrium "     2574
12       07    January         0       25     Moscow TEC" Atrium "     2574
13       08    January         0       25     Moscow TEC" Atrium "     2574
14       10    January         0       25     Moscow TEC" Atrium "     2574
15       11    January         0       25     Moscow TEC" Atrium "     2574
16       13    January         0       25     Moscow TEC" Atrium "     2574
17       16    January         0       25     Moscow TEC" Atrium "     2574
18       26    January         0       25     Moscow TEC" Atrium "     2574
19       27    January         0       25     Moscow TEC" Atrium "     2574
20       09    January         0       25     Moscow TEC" Atrium "     2593

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name  item_price  item_cnt_month  revenue  \
0                      Cinema - Blu-Ray      999.00               1   999.00
1                         Music - Vinyl      899.00               1   899.00
3                         Music - Vinyl     1709.05               1  1709.05
4    Music - CD of corporate production     1099.00               1  1099.00
5                   Music - Music video      349.00               1   349.00
6    Music - CD of corporate production      549.00               1   549.00
7        Music - CD of local production      239.00               1   239.00
8        Music - CD of local production      299.00               1   299.00
9        Music - CD of local production      299.00               3   897.00
10       Music - CD of local production      399.00               2   798.00
11       Music - CD of local production      399.00               1   399.00
12       Music - CD of local production      399.00               1   399.00
13       Music - CD of local production      399.00               2   798.00
14       Music - CD of local production      399.00               1   399.00
15       Music - CD of local production      399.00               2   798.00
16       Music - CD of local production      399.00               1   399.00
17       Music - CD of local production      399.00               1   399.00
18       Music - CD of local production      399.00               1   399.00
19       Music - CD of local production      399.00               1   399.00
20       Music - CD of local production      279.00               1   279.00

   price_range  log_revenue  scaled_revenue
0   900-100000     6.906755        0.000546
1      800-900     6.801283        0.000491
3   900-100000     7.443693        0.000934
4   900-100000     7.002156        0.000601
5      300-400     5.855072        0.000191
6      500-600     6.308098        0.000300
7      200-300     5.476464        0.000131
8      200-300     5.700444        0.000163
9      200-300     6.799056        0.000490
10     300-400     6.682109        0.000436
11     300-400     5.988961        0.000218
12     300-400     5.988961        0.000218
13     300-400     6.682109        0.000436
14     300-400     5.988961        0.000218
15     300-400     6.682109        0.000436
16     300-400     5.988961        0.000218
17     300-400     5.988961        0.000218
18     300-400     5.988961        0.000218
19     300-400     5.988961        0.000218
20     200-300     5.631212        0.000152
(2928485, 15)

In [1378]:
#change month_name column to numeric

final_dataset['month_name'] = final_dataset['month_name'].replace({'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June':6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November':11, 'December': 12})

print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Head of final_dataset:

   date_num  month_name  year_num  shop_id                shop_name  item_id  \
0        02           1         0       59   Yaroslavl TC" Altair "    22154
1        03           1         0       25     Moscow TEC" Atrium "     2552
3        06           1         0       25     Moscow TEC" Atrium "     2554
4        15           1         0       25     Moscow TEC" Atrium "     2555
5        10           1         0       25     Moscow TEC" Atrium "     2564
6        02           1         0       25     Moscow TEC" Atrium "     2565
7        04           1         0       25     Moscow TEC" Atrium "     2572
8        11           1         0       25     Moscow TEC" Atrium "     2572
9        03           1         0       25     Moscow TEC" Atrium "     2573
10       03           1         0       25     Moscow TEC" Atrium "     2574
11       05           1         0       25     Moscow TEC" Atrium "     2574
12       07           1         0       25     Moscow TEC" Atrium "     2574
13       08           1         0       25     Moscow TEC" Atrium "     2574
14       10           1         0       25     Moscow TEC" Atrium "     2574
15       11           1         0       25     Moscow TEC" Atrium "     2574
16       13           1         0       25     Moscow TEC" Atrium "     2574
17       16           1         0       25     Moscow TEC" Atrium "     2574
18       26           1         0       25     Moscow TEC" Atrium "     2574
19       27           1         0       25     Moscow TEC" Atrium "     2574
20       09           1         0       25     Moscow TEC" Atrium "     2593

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name  item_price  item_cnt_month  revenue  \
0                      Cinema - Blu-Ray      999.00               1   999.00
1                         Music - Vinyl      899.00               1   899.00
3                         Music - Vinyl     1709.05               1  1709.05
4    Music - CD of corporate production     1099.00               1  1099.00
5                   Music - Music video      349.00               1   349.00
6    Music - CD of corporate production      549.00               1   549.00
7        Music - CD of local production      239.00               1   239.00
8        Music - CD of local production      299.00               1   299.00
9        Music - CD of local production      299.00               3   897.00
10       Music - CD of local production      399.00               2   798.00
11       Music - CD of local production      399.00               1   399.00
12       Music - CD of local production      399.00               1   399.00
13       Music - CD of local production      399.00               2   798.00
14       Music - CD of local production      399.00               1   399.00
15       Music - CD of local production      399.00               2   798.00
16       Music - CD of local production      399.00               1   399.00
17       Music - CD of local production      399.00               1   399.00
18       Music - CD of local production      399.00               1   399.00
19       Music - CD of local production      399.00               1   399.00
20       Music - CD of local production      279.00               1   279.00

   price_range  log_revenue  scaled_revenue
0   900-100000     6.906755        0.000546
1      800-900     6.801283        0.000491
3   900-100000     7.443693        0.000934
4   900-100000     7.002156        0.000601
5      300-400     5.855072        0.000191
6      500-600     6.308098        0.000300
7      200-300     5.476464        0.000131
8      200-300     5.700444        0.000163
9      200-300     6.799056        0.000490
10     300-400     6.682109        0.000436
11     300-400     5.988961        0.000218
12     300-400     5.988961        0.000218
13     300-400     6.682109        0.000436
14     300-400     5.988961        0.000218
15     300-400     6.682109        0.000436
16     300-400     5.988961        0.000218
17     300-400     5.988961        0.000218
18     300-400     5.988961        0.000218
19     300-400     5.988961        0.000218
20     200-300     5.631212        0.000152
(2928485, 15)

## Data Exploration & Analysis

In [1379]:

#correlation

numeric_columns = final_dataset.select_dtypes(include=['number'])
print("\n\nCorrelation of final_dataset:\n")
print(numeric_columns.corr())

Correlation of final_dataset:

                month_name  year_num   shop_id   item_id  category_id  \
month_name        1.000000 -0.134131  0.020647 -0.002104    -0.001057
year_num         -0.134131  1.000000  0.011834  0.010487     0.030406
shop_id           0.020647  0.011834  1.000000  0.029343     0.019339
item_id          -0.002104  0.010487  0.029343  1.000000     0.369385
category_id      -0.001057  0.030406  0.019339  0.369385     1.000000
item_price        0.044361  0.080573 -0.023966 -0.134759    -0.255032
item_cnt_month    0.017888  0.002781 -0.005325  0.016269     0.014048
revenue           0.030326  0.029541 -0.013541 -0.063423    -0.117860
log_revenue       0.057248  0.096147 -0.039416 -0.310142    -0.342895
scaled_revenue    0.030326  0.029541 -0.013541 -0.063423    -0.117860

                item_price  item_cnt_month   revenue  log_revenue  \
month_name        0.044361        0.017888  0.030326     0.057248
year_num          0.080573        0.002781  0.029541     0.096147
shop_id          -0.023966       -0.005325 -0.013541    -0.039416
item_id          -0.134759        0.016269 -0.063423    -0.310142
category_id      -0.255032        0.014048 -0.117860    -0.342895
item_price        1.000000        0.012008  0.436314     0.601370
item_cnt_month    0.012008        1.000000  0.407742     0.098107
revenue           0.436314        0.407742  1.000000     0.331392
log_revenue       0.601370        0.098107  0.331392     1.000000
scaled_revenue    0.436314        0.407742  1.000000     0.331392

                scaled_revenue
month_name            0.030326
year_num              0.029541
shop_id              -0.013541
item_id              -0.063423
category_id          -0.117860
item_price            0.436314
item_cnt_month        0.407742
revenue               1.000000
log_revenue           0.331392
scaled_revenue        1.000000

In [1380]:
#missing values treatment

#checks for missing values
print("\n\nMissing values in final_dataset:\n")
print(final_dataset.isnull().sum())

#checks for null values
print("\n\nNull values in final_dataset:\n")
print(final_dataset.isnull().sum())

#since there are no missing values and null values in the data set there is no need for imputation

Missing values in final_dataset:

date_num              0
month_name            0
year_num              0
shop_id               0
shop_name             0
item_id               0
item_name             0
category_id           0
item_category_name    0
item_price            0
item_cnt_month        0
revenue               0
price_range           0
log_revenue           0
scaled_revenue        0
dtype: int64


Null values in final_dataset:

date_num              0
month_name            0
year_num              0
shop_id               0
shop_name             0
item_id               0
item_name             0
category_id           0
item_category_name    0
item_price            0
item_cnt_month        0
revenue               0
price_range           0
log_revenue           0
scaled_revenue        0
dtype: int64

In [1381]:
#outlier treatment

#checks for outliers in the item_cnt_month column
print("\n\nOutliers in item_cnt_month column:\n")
print(final_dataset[final_dataset['item_cnt_month'] > 1000])

#removes the outliers in the item_cnt_month column
final_dataset = final_dataset[final_dataset['item_cnt_month'] < 1000]

print("\n\nHead of final_dataset:\n")
print(final_dataset.head(20))
print(final_dataset.shape)

Outliers in item_cnt_month column:

        date_num  month_name  year_num  shop_id  \
2909818       28          10         2       12

                                      shop_name  item_id  \
2909818   Internet-shop of emergency situations    11373

                                         item_name  category_id  \
2909818  Delivery to the point of issue (Boxberry)            9

         item_category_name  item_price  item_cnt_month  revenue price_range  \
2909818   Delivery of goods    0.908714            2169   1971.0       0-100

         log_revenue  scaled_revenue
2909818     7.586296        0.001077


Head of final_dataset:

   date_num  month_name  year_num  shop_id                shop_name  item_id  \
0        02           1         0       59   Yaroslavl TC" Altair "    22154
1        03           1         0       25     Moscow TEC" Atrium "     2552
3        06           1         0       25     Moscow TEC" Atrium "     2554
4        15           1         0       25     Moscow TEC" Atrium "     2555
5        10           1         0       25     Moscow TEC" Atrium "     2564
6        02           1         0       25     Moscow TEC" Atrium "     2565
7        04           1         0       25     Moscow TEC" Atrium "     2572
8        11           1         0       25     Moscow TEC" Atrium "     2572
9        03           1         0       25     Moscow TEC" Atrium "     2573
10       03           1         0       25     Moscow TEC" Atrium "     2574
11       05           1         0       25     Moscow TEC" Atrium "     2574
12       07           1         0       25     Moscow TEC" Atrium "     2574
13       08           1         0       25     Moscow TEC" Atrium "     2574
14       10           1         0       25     Moscow TEC" Atrium "     2574
15       11           1         0       25     Moscow TEC" Atrium "     2574
16       13           1         0       25     Moscow TEC" Atrium "     2574
17       16           1         0       25     Moscow TEC" Atrium "     2574
18       26           1         0       25     Moscow TEC" Atrium "     2574
19       27           1         0       25     Moscow TEC" Atrium "     2574
20       09           1         0       25     Moscow TEC" Atrium "     2593

                                            item_name  category_id  \
0                                     SCENE 2012 (BD)           37
1              DEEP PURPLE The House Of Blue Light LP           58
3              DEEP PURPLE Who Do You Think We Are LP           58
4       DEEP PURPLE 30 Very Best Of 2CD (Businesses).           56
5   DEEP PURPLE Perihelion: Live In Concert DVD (C...           59
6                   DEEP PURPLE Stormbringer (firms).           56
7                               DEFTONES Koi No Yokan           55
8                               DEFTONES Koi No Yokan           55
9                            DEL REY LANA Born To Die           55
10  DEL REY LANA Born To Die The Paradise Edition 2CD           55
11  DEL REY LANA Born To Die The Paradise Edition 2CD           55
12  DEL REY LANA Born To Die The Paradise Edition 2CD           55
13  DEL REY LANA Born To Die The Paradise Edition 2CD           55
14  DEL REY LANA Born To Die The Paradise Edition 2CD           55
15  DEL REY LANA Born To Die The Paradise Edition 2CD           55
16  DEL REY LANA Born To Die The Paradise Edition 2CD           55
17  DEL REY LANA Born To Die The Paradise Edition 2CD           55
18  DEL REY LANA Born To Die The Paradise Edition 2CD           55
19  DEL REY LANA Born To Die The Paradise Edition 2CD           55
20                  DEPECHE MODE Music For The Masses           55

                     item_category_name  item_price  item_cnt_month  revenue  \
0                      Cinema - Blu-Ray      999.00               1   999.00
1                         Music - Vinyl      899.00               1   899.00
3                         Music - Vinyl     1709.05               1  1709.05
4    Music - CD of corporate production     1099.00               1  1099.00
5                   Music - Music video      349.00               1   349.00
6    Music - CD of corporate production      549.00               1   549.00
7        Music - CD of local production      239.00               1   239.00
8        Music - CD of local production      299.00               1   299.00
9        Music - CD of local production      299.00               3   897.00
10       Music - CD of local production      399.00               2   798.00
11       Music - CD of local production      399.00               1   399.00
12       Music - CD of local production      399.00               1   399.00
13       Music - CD of local production      399.00               2   798.00
14       Music - CD of local production      399.00               1   399.00
15       Music - CD of local production      399.00               2   798.00
16       Music - CD of local production      399.00               1   399.00
17       Music - CD of local production      399.00               1   399.00
18       Music - CD of local production      399.00               1   399.00
19       Music - CD of local production      399.00               1   399.00
20       Music - CD of local production      279.00               1   279.00

   price_range  log_revenue  scaled_revenue
0   900-100000     6.906755        0.000546
1      800-900     6.801283        0.000491
3   900-100000     7.443693        0.000934
4   900-100000     7.002156        0.000601
5      300-400     5.855072        0.000191
6      500-600     6.308098        0.000300
7      200-300     5.476464        0.000131
8      200-300     5.700444        0.000163
9      200-300     6.799056        0.000490
10     300-400     6.682109        0.000436
11     300-400     5.988961        0.000218
12     300-400     5.988961        0.000218
13     300-400     6.682109        0.000436
14     300-400     5.988961        0.000218
15     300-400     6.682109        0.000436
16     300-400     5.988961        0.000218
17     300-400     5.988961        0.000218
18     300-400     5.988961        0.000218
19     300-400     5.988961        0.000218
20     200-300     5.631212        0.000152
(2928483, 15)

In [1382]:
#Descriptive analytics

#descriptive statistics
print("\n\nDescriptive statistics of final_dataset:\n")
print(final_dataset.describe())

Descriptive statistics of final_dataset:

         month_name      year_num       shop_id       item_id   category_id  \
count  2.928483e+06  2.928483e+06  2.928483e+06  2.928483e+06  2.928483e+06
mean   6.248408e+00  7.767790e-01  3.300296e+01  1.020028e+04  4.001637e+01
std    3.535921e+00  7.684598e-01  1.622543e+01  6.324391e+03  1.709809e+01
min    1.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    3.000000e+00  0.000000e+00  2.200000e+01  4.477000e+03  2.800000e+01
50%    6.000000e+00  1.000000e+00  3.100000e+01  9.355000e+03  4.000000e+01
75%    9.000000e+00  1.000000e+00  4.700000e+01  1.569100e+04  5.500000e+01
max    1.200000e+01  2.000000e+00  5.900000e+01  2.216900e+04  8.300000e+01

         item_price  item_cnt_month       revenue   log_revenue  \
count  2.928483e+06    2.928483e+06  2.928483e+06  2.928483e+06
mean   8.893627e+02    1.247257e+00  1.164267e+03  6.254676e+00
std    1.718155e+03    2.217429e+00  5.684853e+03  1.171779e+00
min    7.000000e-02    1.000000e+00  7.000000e-02 -2.659260e+00
25%    2.490000e+02    1.000000e+00  2.490000e+02  5.517453e+00
50%    3.990000e+02    1.000000e+00  4.490000e+02  6.107023e+00
75%    9.990000e+02    1.000000e+00  1.090000e+03  6.993933e+00
max    5.920000e+04    6.690000e+02  1.829990e+06  1.441982e+01

       scaled_revenue
count    2.928483e+06
mean     6.361770e-04
std      3.106494e-03
min      0.000000e+00
25%      1.360281e-04
50%      2.453183e-04
75%      5.955934e-04
max      1.000000e+00

In [1383]:
#seasonality analysis

#grouping the data set by month_name and year_num
#and aggregating the item_cnt_month column using sum

grouped_by_month_name_and_year_num = final_dataset.groupby(['month_name']).agg({'item_cnt_month': 'sum'})

print("\n\nHead of grouped_by_month_name_and_year_num:\n")
print(grouped_by_month_name_and_year_num.head(60))
print(grouped_by_month_name_and_year_num.shape)

Head of grouped_by_month_name_and_year_num:

            item_cnt_month
month_name
1                   359391
2                   322775
3                   345171
4                   282131
5                   277519
6                   287443
7                   271985
8                   294692
9                   305967
10                  304453
11                  248320
12                  352723
(12, 1)

In [1384]:
#regulatory analytics

#grouping the data set by shop_id and year_num
#and aggregating the item_cnt_month column using sum

grouped_by_shop_id_and_year_num = final_dataset.groupby(['shop_id', 'year_num']).agg({'item_cnt_month': 'sum'})

print("\n\nHead of grouped_by_shop_id_and_year_num:\n")
print(grouped_by_shop_id_and_year_num.head(60))

Head of grouped_by_shop_id_and_year_num:

                  item_cnt_month
shop_id year_num
0       0                  11705
1       0                   6311
2       0                   9989
        1                  12247
        2                   8470
3       0                  10242
        1                  11039
        2                   7194
4       0                  19054
        1                  15909
        2                   9106
5       0                  14717
        1                  17041
        2                  11089
6       0                  46707
        1                  35496
        2                  18554
7       0                  28218
        1                  24530
        2                  14411
8       0                   3602
9       0                   6531
        1                   6155
        2                   3188
10      0                  11132
        1                   8859
        2                   4532
11      2                    572
12      0                  19494
        1                  26379
        2                  24947
13      0                  13529
        1                   6234
14      0                  20114
        1                  16003
        2                  10397
15      0                  32339
        1                  24854
        2                  14138
16      0                  30250
        1                  19569
        2                  11953
17      0                   9913
        1                  15308
        2                    697
18      0                  33632
        1                  18815
        2                  13174
19      0                  32860
        1                  25353
        2                  15455
20      1                   3262
        2                   2611
21      0                  25258
        1                  25167
        2                  18259
22      0                  26943
        1                  20341
        2                  13050
23      0                   7722